<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/logo" alt="vezzeta-logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-3">Vezzeta Pharmacy Admin Dashboard</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="(pharmacy)" (closed)="(!pharmacy)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item>
            <mat-icon>medical_services</mat-icon>Pharmacy
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <a mat-list-item routerLink="/medicine/list" routerLinkActive="list-item-active">
          <mat-icon>view_list</mat-icon>Medicine List
        </a>
        <a mat-list-item routerLink="/medicine/add" routerLinkActive="list-item-active">
          <mat-icon>add</mat-icon>Add Medicine
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
