<mat-toolbar>
  <mat-toolbar-row class="d-flex justify-content-between">
    <button>
      <mat-icon (click)="toggleSidebar()">menu</mat-icon>
    </button>
    <div class="row ms-2 me-auto">
      <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-item-center">
            <img src="../../../assets/user.png" alt="userImage" class="user-image me-2 p-2">
            Admin
            <mat-icon class="user-image-icon mt">
              keyboard_arrow_down
            </mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
